.signal-integrity-verification {
  .logo-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
    padding: 1rem;

    img {
      height: 50px; // Adjust according to your layout
    }

    h1 {
      margin-left: 20px;
    }
  }

  .results-pass {
    background-color: #3d8361;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .status-pass {
      font-size: 2rem;
      font-weight: bold;
    }

    .status-description {
      flex-grow: 1;
      text-align: center;
    }
  }

  .test-details {
    background-color: #f4f4f4;
    padding: 1rem;
    p {
      margin: 0.5rem 0;
    }
    a {
      color: #0f62fe;
    }
  }

  .results-fail {
    background-color: #c26310;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .status-pass {
      font-size: 2rem;
      font-weight: bold;
    }

    .status-description {
      flex-grow: 1;
      text-align: center;
    }
  }

  .comments-textarea {
    margin: 1rem 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    button {
      margin-right: 1rem;
    }
  }
}
